@import '../../scss/variables';

header {
  background-color: $secondary-color;
  padding: 15px;
  height: 190px;

  .search {
    text-align: center;

    input[type=text] {
      width: 80%;
      height: 30px;
      background-color: rgba(28, 28, 28, 0.15);
      color: $primary-color;
      border: 1px solid $input;
      font-size: 11px;
      font-weight: 400;
      line-height: 24px;
      padding: 11px 13px;
    }

    button {
      height: 30px;
      width: 50px;
      background-color: $button-color;
      border: none;
      outline:none;
      border-radius: 12px;
      color: $white;
      font-size: 13px;
      font-weight: bold;
      line-height: 18px;
    }
  }

  .logo {
    text-align: center;

    h1 {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.29);
      color: $white;
      font-family: 'Cambo', serif;
      margin-bottom: 0;
      font-size: 60px;
      font-weight: 400;
      line-height: 30px;
    }

    p {
      margin: 0;
      color: $subtitle;
      opacity: 0.4;
      font-size: 16px;
      line-height: 48px;
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    .logo {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: 967px) {
  header {
    height: 190px;
    padding: 50px 17% 40px 19%;

    .search {
      text-align: end;

      input[type=text] {
        width: 255px;
      }

      button {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .logo {
      text-align: left;

      h1 {
        margin: 0;
      }
    }
  }
}
