<header>
  <div class="search">
    <input type="text" placeholder="Site Search"/>
    <button>Go!</button>
  </div>
  <div class="logo">
    <h1>Smart</h1>
    <p>inspiring innovations</p>
  </div>
</header>
