@import '../../scss/variables';

li {
  margin: 20px 20px 0 20px;
  background-color: #F4F4F4;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  padding: 30px;
  max-width: 230px;
  position: relative;

  &:after {
    content:"";
    width: 230px;
    height: 30px; /* Changed the unit over here */
    position: absolute;
    bottom: -33px;
    left: 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.25) 100%);
    //background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.67) 49%, rgba(255, 255, 255, 1) 100%);
  }

  &:hover {
    background-image: linear-gradient(to top, rgba(0,0,0,0.95) 0%, rgba(31,31,31,0.8) 100%);

    h1 {
      color: $white;
      font-size: 70px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
    }

    p:first-of-type {
      color: $white;
    }

    button {
      background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(195,195,195,1) 100%);
      color: $secondary-color;
    }

    &:after {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.05) 63%, rgba(0, 0, 0, 0.1) 93%, rgba(0, 0, 0, 0.1) 100%);
    }
  }

  &:nth-child(odd) {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &:after {
      border-top-right-radius: 20px;
    }
  }

  &:nth-child(even) {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    &:after {
      border-top-left-radius: 20px;
    }
  }

  h1 {
    color: $card-title;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }

  p:first-of-type {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    line-height: 24px;
  }

  p:last-of-type {
    color: $grey-text;
  }

  button {
    background: linear-gradient(180deg, rgba(87,152,188,1) 0%, rgba(37,102,138,1) 100%);
    color: $white;
    font-family: 'Cambo', serif;
    font-size: 20px;
    line-height: 24px;
    width: 103px;
    height: 35px;
    border: none;
    outline:none;
    border-radius: 20px;
  }
}

@media screen and (min-width: 967px) {
  li {
    margin: 20px 20px 0 20px;

    &:hover {
      cursor: pointer;
    }

    input:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1490px) {
  li {
    margin: 0;
  }
}
