@import '../scss/variables';

main {
  .title {
    height: 100px;
    line-height: 100px;
    text-shadow: 1px 1px 0 rgba(90, 185, 218, 0.2);
    color: $white;
    font-family: 'Cambo', serif;
    font-size: 36px;
    font-weight: 400;
    background-color: $title-bg;
    opacity: 0.83;
    text-align: center;
  }

  .subtitle {
    background-color: $subtitle-bg;
    opacity: 0.83;
    height: 70px;
    line-height: 70px;
    text-shadow: 1px 1px 0 rgba(90, 185, 218, 0.2);
    color: $white;
    font-family: 'Cambo', serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    text-align: center;
  }

  ul.cards {
    flex-direction: column;
    align-items: center;
  }

  .comment {
    background: linear-gradient(180deg, rgba(184,184,184,1) 0%, rgba(166,166,166,1) 100%);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;

    p {
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      margin: 0;
    }
  }

  ul.icons {
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
  }
}

@media screen and (min-width: 600px) {
  main {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

    ul.cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 967px) {
  main {
    padding: 230px 17% 48px 19%;

    .title {
      width: 510px;
      height: 100px;
      opacity: 0.83;
      font-size: 60px;
      font-weight: 400;
      margin-left: auto;
      margin-right: 120px;
    }

    .subtitle {
      width: 350px;
      height: 70px;
      opacity: 0.83;
      font-size: 40px;
      font-weight: 400;
      margin-left: auto;
      margin-right: 240px;
    }

    ul.cards {
      flex-direction: row;
      justify-content: center;
      margin: 100px 0 0 0;
    }

    .comment {
      margin: 43px 0 47px 0;
      padding-left: 32%;
    }

    ul.icons {
      padding: 0;
      justify-content: left;

      li {
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 1490px) {
  main {
    ul.cards {
      justify-content: space-between;
    }
  }
}
