<app-header></app-header>
<main>
  <div class="title">Only individual</div>
  <div class="subtitle">customer support</div>
  <ul class="cards">
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </ul>
  <div class="comment">
    <p>Caum socis nisque nla dusrtase meryuade lertyaferas! Feugiat malesuada odiorbi nuravida acursus nloremeasa ders magna uada necsit amet er orem ipsumertes.</p>
  </div>
  <ul class="icons">
    <li *ngFor="let icon of icons">
      <img [src]="icon.src" [alt]="icon.alt" />
    </li>
  </ul>
</main>
<app-footer></app-footer>
