$primary-color: #CDCDCD;
$secondary-color: #1C1C1C;
$button-color: #3E3E3E;
$input: rgba(107, 107, 107, 0.15);
$subtitle: #ebebeb;
$white: #fff;
$title-bg: #040404;
$subtitle-bg: #04243c;
$card-title: #222222;
$blue-text: #529ec3;
$grey-text: #727272;
